.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* button */
.btn {
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  margin: 0px 20px;
  border-radius: 25px;
  padding: 12px 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(130%) grayscale(70%);
}

/* header */
header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  background: white;
  justify-content: space-around;

}

header .left {
  padding: 3%;
  display: block;

}

header .mid {
  margin: 1.5em;

}

header .right {
  padding: 2%;

}

header .navbar {
  display: flex;
  flex-direction: row;

}

header .navbar li {
  display: flex;
  font-size: 18px;
}

header .navbar li a {
  text-decoration: none;
  padding: 3px 20px;
  color: gray;
}

header .navbar li a:hover {
  padding-bottom: 20px;
  border-bottom: 5px solid;
  color: hsl(136, 65%, 51%);
}

#hamburger {
  display: none;
  cursor: pointer;
}

#hamburger div {
  width: 35px;
  height: 3px;
  background-color: hsl(233, 8%, 62%);
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar-2 {
  opacity: 0;
}

.open .bar-3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile {
  display: none;
  position: absolute;
  top: 100px;
  background-color: white;
  padding: 10px;
  left: 5%;
  right: 5%;
  height: calc(100vh - 50ph);
  width: 85%;
}

.mobile li {
  margin-bottom: 10px;
}


/* introduction */
#home {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: -12%;
}

#home .left {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

#home .left h1 {
  display: flex;
  text-align: center;
  font-size: 60px;
  padding-right: 10%;
  padding-left: 10%;

}

#home .left p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size:20px ;
  padding-right: 10%;
  padding-left: 10%;
}

#home .left button {
  margin: 10px auto;
  display: flex;
  justify-content: flex-end;

}
#home .mob-view {
  display: none;
}

#home .right {
  display: flex;
  width: 50vw;
  justify-content: flex-end;
  padding-left: 0px;
  background-image: url(/images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: 140em 50em;
}
#home .right img{
  object-position: 8em -3em;
}


#information {
  background-color: aliceblue;
  margin-top: 0px;
  padding: 0;

}

#information .top {
  display: flex;
  flex-direction: column;
  

}

#information .top h2 {
  padding-left: 10%;
  font-size: 50px;
}

#information .top p {
  display: flex;
  padding-left: 12%;
  width: 28%;
  text-align: justify;
}

#information .bottom {
  margin:3% 10%;
  display: flex;
  flex-direction: row;


}

#information .bottom .all {
  display: flex;
  width: 60%;
  margin: auto;
  flex-direction: column;

}

#information .bottom .all img {
  width: 70px;
}

#information .bottom .all h3 {
  font-size: 25px;
}

#information .bottom .all p {
  padding-right: 20px;
}


/* article */
#article {
  margin: 0;
  padding: 0;
}

#article h2 {
  font-size: 60px;
  font-weight: 700;
  margin-left: 10%;
  margin-top: 5%;
}

#article article {
  display: flex;
  flex-direction: row;
  margin: 0 8%;

}

#article article .all {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 3%;
  column-gap: 5px;
}

#article article .all img {
  width: 90%;
  height: 40%;
}

#article article .all h4 {
  width: 60%
}

#article article .all h4:hover {
  color: hsl(136, 65%, 51%);
}

/* footer */

footer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: hsl(233, 26%, 24%);
  padding: 0 100px 0 100px;
}

footer .left {
  padding: 1.5em 3em;
  margin-left: 3%;
}

footer .left .top svg path {
  fill: white
}

footer .left .bottom {
  margin: 1px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  column-gap: .8em;
}

footer .left .bottom svg:hover path {
  fill: hsl(136, 65%, 51%);
}

footer .mid {
  width: 30%;
  margin: 1em auto;

}

footer .navbar {
  display: flex;
  flex-wrap: wrap;

}

footer .navbar li {
  display: flex;
  font-size: 15px;
}

footer .navbar li a {
  text-decoration: none;
  padding: 5px 10px;
  color: white;

}

footer .navbar li a:hover,
footer .navbar li a.active {
  color: hsl(136, 65%, 51%);
  display: flex;
  flex-direction: column;
}
footer .right{
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  margin-right: 15%;
}
footer .right button {
  margin-bottom: 30px;
}

footer .right div {
  margin-top: 20px;
}
footer .copyright{
  color: white;
}

@media screen and (max-width:800px) {

  header .navbar,
  header .right {
    display: none;
  }

  #hamburger {
    display: block;
    position: absolute;
    right: 4em;
    padding-left: 70%;
  }


  #hamburger .mobile a{
    display: flex ;
    margin: 3%;
    text-decoration: none;
    color: gray;
    
  }

  #humburger .mobile li{
    list-style: none;
  }

  header {
    align-items: center;
    justify-content: space-around;
  }
  
  #home {
    padding: 0;
    margin: 0;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  #home .right{
    display: none;

  }
  #home .mob-view{
   background: url(../images/bg-intro-mobile.svg) no-repeat;
   background-size: 50em;
   display: block;

  }
  .mob-view img {
    width: 100%;
    object-position: 0 -3em;
  }
  #home .left {
   
    text-align: center;
    align-items: center;
    padding: 0;
    width: 100%;
  }  
  #home .left h1{
    font-size: 35px;

  }
#information {
    text-align: center;
    align-items: center;
    padding: 0;
    width: 100%;
    flex-direction: column;
}
#information .top {
  align-items: center;
}
#information .top p {
  text-align: center;
}
#information .top h2 {
  padding :30px;
  font-size: 38px;
}
#information .top p {
  padding: 0;
}
  #information .bottom {
    display: flex;
    flex-direction: column;
   
    padding: 0;
    margin: 0;

  }
  #information .all {
   
    align-items: center;
  }

  #article h2{
    padding-left: 8%;
    /* font-size: 40px; */
    font-weight: bold;
    align-items: center;
  }
  #article article{

    display: flex;
    flex-direction: column;
    width: auto;
  }
  #article article .all{
    width: 100%;
  }
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
footer .left{
align-items: center;
}
footer .left .bottom {
  width: auto;
  margin: 2% 25%;
}

footer .mid {
  text-align: center;
}

footer .right{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15%;
}
}

